.player {
  video::-webkit-media-text-track-display {
    transform: translateY(0px);
    transition: ease-in 100ms;
  }
  &.state-paused video::-webkit-media-text-track-display,
  &.hover video::-webkit-media-text-track-display {
    transform: translateY(-60px);
    transition: ease-out 100ms;
  }
  &.fullscreen {
    &.iOS video::-webkit-media-text-track-display {
      transform: translateY(0px);
    }
  }
  &.overlay-active {
    :global(.pakhshkit-subtitles) {
      display: none;
    }
  }
  :global(.pakhshkit-subtitles) {
    transform: translateY(0px);
    transition: ease-in 100ms;
  }
  &:not(.overlay-active) {
    &.state-paused :global(.pakhshkit-subtitles),
    &.hover :global(.pakhshkit-subtitles) {
      transform: translateY(-60px);
      transition: ease-out 100ms;
    }
    &.fullscreen {
      &.iOS :global(.pakhshkit-subtitles) {
        transform: translateY(0px);
      }
    }
  }
}
